#header.top-header {
	margin: 0 30px;
}

.ui-map {
	width: 600px !important;
}

/*Reduce gutter size in bootstrap column*/
.custom-col {
	padding-left: 0;
	padding-right: 0.5em;
}
.first-custom-col {
	padding-right: 0.5em;
}

.custom-toolbar {
	font-size: 1.3em;
}

#note-app {
	background-color: white;
}

#note-body iframe {
	border: 0px;
}

.page {
	padding-top: 0;
}

#chapter-list-collapse-btn {
	position: relative;
	z-index: 3;
}

.indented {
	text-indent: 2em;
}

.new-page {
	page-break-before: always;
}