	<!-- Modal -->
	<div class="modal-header">
			<h4>Edit Reference</h4>
	</div>
	<div class="modal-body">
	 <form name="forms.basicForm" class="form-horizontal form-validation" novalidate>
				<div class="form-group">
						<label for="desc" class="col-sm-2 control-label">Reference</label>
						<div class="col-sm-10">
							<textarea class="form-control" id="desc" placeholder="Reference" data-ng-model="obj.reference" rows="4"></textarea>
						</div>
				</div>
		</form>

	</div>
	<div class="modal-footer">
			<button class="btn btn-primary pull-left" ng-click="reset()">Reset</button>
			<button class="btn btn-success" ng-click="save()" data-ng-disabled="!forms.basicForm.$valid">Save</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
	<!-- end Modal -->
