<div class="page">
	<div class="panel panel-default">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> My Stories</strong>
		</div>
		<div class="panel-body">
			<div class="col-sm-3 custom-col">
				<div data-ng-if="stories.length > 0">
					<p class="text-right"><a href="" class="btn btn-success btn-xs" data-ng-click="createStory()" tooltip="Add new story">New</a></p>
					<div class="list-group" >
						<a href="" class="list-group-item" data-ng-repeat="story in stories" data-ng-class="{active: curStoryIndex == $index}" 
							data-ng-click="setCurStoryIndex($index)">
								{{story.title}}
						</a>
					</div>	
				</div>
		</div>
		<div class="col-sm-9" data-ng-if="stories.length == 0">
			<h3> You have no stories. Create a <a href="" data-ng-click="createStory()">new story.</a> </h3>
		</div>
		<div class="col-sm-9" data-ng-if="stories.length > 0">
			<p class="text-right">
				<a class="btn btn-xs btn-success" data-ng-href="/preview.html?storyId={{stories[curStoryIndex]._id}}" tooltip="Print preview" target="_blank">Print Story</a>&nbsp;
				<a class="btn btn-xs btn-success" data-ng-href="#/chapters/{{stories[curStoryIndex]._id}}/{{stories[curStoryIndex].title}}" tooltip="Go to story view">View Story</a></p>
				<h3>Basic <a class="pull-right" href="" data-ng-click="editStory()" tooltip="Edit basic info"><i class="fa fa-edit"></i></a></h3>
				<ul class="list-unstyled list-info">
						<li>
								<label>Tile</label>
								{{stories[curStoryIndex].title}}
						</li>
						<li>
							<label>Description</label>
							{{stories[curStoryIndex].description}}
						</li>
						<!--
						<li>
							<label>Pages</label>
							4
						</li>
						<li>
							<label>Words</label>
							5000
						</li>
						-->
					</ul>
						<h3>Characters <a class="pull-right" href="" data-ng-click="createCharacter()" tooltip="Add character"><i class="fa fa-plus-square"></i></a></h3>
						<ul>
							<li data-ng-mouseenter="showCharacterEdit[$index]=true" data-ng-mouseleave="showCharacterEdit[$index]=false" 
								data-ng-init="showCharacterEdit[$index]=false;" data-ng-repeat="character in stories[curStoryIndex].characters">
								<div data-ng-show="showCharacterEdit[$index]" class="pull-right">
									<a href="" data-ng-click="editCharacter($index)" tooltip="Edit character"><i class="fa fa-pencil"></i></a> &emsp;
									<a href="" data-ng-click="deleteCharacter($index)" tooltip="Delete character"> <i class="fa fa-times"></i></a>
								</div>
								<h4> {{character.name}} </h4>
								<p>{{character.description}}</p>
							</li>
						</ul>
				<h3>References/Notes<a class="pull-right" href="" data-ng-click="createReference()" tooltip="Add Reference"><i class="fa fa-plus-square"></i></a></h3>
				<ul>
					<li data-ng-mouseenter="showReferenceEdit[$index]=true" data-ng-mouseleave="showReferenceEdit[$index]=false" 
						data-ng-init="showReferenceEdit[$index]=false;" data-ng-repeat="reference in stories[curStoryIndex].references">
						<div data-ng-show="showReferenceEdit[$index]" class="pull-right">
							<a href="" data-ng-click="editReference($index)" tooltip="Edit reference"><i class="fa fa-pencil"></i></a> &emsp;
							<a href="" data-ng-click="deleteReference($index)" tooltip="Delete reference"> <i class="fa fa-times"></i></a></div>
						<p>{{reference}}</p>
					</li>
				</ul>
			
		</div>
	</div>
</div>		