<div class="page">
	<div class="row">
	<div class="col-md-8">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>&nbsp;<span data-i18n="User Profile"></span></strong></div>
        <div class="panel-body">
					<div class="media">
						<div class="media-body">
							<ul class="list-unstyled list-info">
								<li>
										<label>Name</label>
										{{user.name}}
								</li>
								<li>
										<label>Email</label>
										{{user.email}}
								</li>
							</ul>							
						</div>
					</div>
					<div class="text-right custom-toolbar">
						<a tooltip="Edit profile" data-ng-click="edit()"><i class="fa fa-edit"></i></a>
					</div>	
				</form>	
        </div>
    </section>
		</div>
		</div>
	</div>
